body {
  background: url(/images/Purple\ White.jpg);
  color: #e2e2dc !important;
  font-family: 'IM Fell Great Primer', serif;
}
.txt-white {
  color: #e2e2dc !important;
}
.great {
  font-family: 'IM Fell Great Primer', serif;
  color: #e2e2dc !important;
}
.mako {
  font-family: 'Mako', sans-serif;
  color: #e2e2dc !important;
}
.alef {
  font-family: 'Alef', sans-serif;
  color: #044d2a !important;
}
.border-bottom {
  border-color: #044d2a !important;
}
.greenbg {
  background-color: #044d2a !important;
  background: #044d2a !important;
}
.nav-item a {
  font-weight: 800;
}
a {
  color: #044d2a !important;
  font-weight: 800;
}
.active {
  color: #ffc0f2 !important;
  background-color: #044d2a !important;
}
